In [3]:
import pandas as pd
data = pd.read_csv("C:/Users/Win/Desktop/data science assignments/simple linear regression/Salary_Data (1).csv")
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [5]:
data.corr()

                 YearsExperience    Salary
YearsExperience         1.000000  0.978242
Salary                  0.978242  1.000000

In [6]:
import statsmodels.formula.api as smf
model = smf.ols("Salary~ YearsExperience",data = data).fit()

In [7]:
model.params

Intercept          25792.200199
YearsExperience     9449.962321
dtype: float64

In [8]:
print(model.tvalues, '\n', model.pvalues)

Intercept          11.346940
YearsExperience    24.950094
dtype: float64
 Intercept          5.511950e-12
YearsExperience    1.143068e-20
dtype: float64

In [9]:
(model.rsquared,model.rsquared_adj)

(0.9569566641435086, 0.9554194021486339)

In [10]:
newdata=pd.Series([9,10.5,2,2.2])

In [11]:
data_pred=pd.DataFrame(newdata,columns=['YearsExperience'])

In [12]:
model.predict(data_pred)

0    110841.861092
1    125016.804574
2     44692.124842
3     46582.117306
dtype: float64

In [13]:
model.predict(data)

0      36187.158752
1      38077.151217
2      39967.143681
3      44692.124842
4      46582.117306
5      53197.090931
6      54142.087163
7      56032.079627
8      56032.079627
9      60757.060788
10     62647.053252
11     63592.049484
12     63592.049484
13     64537.045717
14     68317.030645
15     72097.015574
16     73987.008038
17     75877.000502
18     81546.977895
19     82491.974127
20     90051.943985
21     92886.932681
22    100446.902538
23    103281.891235
24    108006.872395
25    110841.861092
26    115566.842252
27    116511.838485
28    123126.812110
29    125016.804574
dtype: float64